@import './reset';
@import './themes/dark';
@import './themes/light';
@import './variebles/global';

.app{
    font: var(--font-m);
    background-color: var(--bg);
    color: var(--primary);
    min-height: 100vh;
}